.juego{
    color: #fff;
    margin-top: 30px;
    text-align: center;
}
.juego .pregunta{
    margin: 10px 0 30px 0;
    font-size: 20px;
}
.juego .opcion{
    display: block;
    width: 90%;
    margin: auto;
    border: 0;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}

/*se aplican de forma dinamica*/
.correcta{
    background: rgb(56, 192, 255);
}
.incorrecta{
    background: rgba(255,56,56,1);
}
/*animacion para los puntos*/
.efecto{
    animation: 1s zoom;
}
@keyframes zoom{
    0%{
        transform: scale(1);
        color: #fff;
    }
    40%{
        transform: scale(1.3);
        color: #ffe43a;
    }
    60%{
        transform: scale(1.3);
        color: #ffe43a;
    }
    100%{
        transform: scale(1);
        color: #fff;
        font-weight: normal;
    }
}
/* CLASES ADICIONALES */
/*ESTAS sirven para desabilitar los clips en los 
botones del mennu principal, cuando haya compltado 
las preguntas */
.no-events{
    pointer-events: none;
} 
/* esta pondra de color gris la opcion no elegida del menu. */
.desabilitada{
    filter: grayscale(.9) opacity(.7);
}