@import  "./sass/menu";
@import "./sass/juego";
@import "./sass/_final.scss";

@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@700;800&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
body{
    height: 100vh;
    background: linear-gradient(#18528b, #172f5e, #1e406b);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
}
.container{
    width: 500px;
    background: linear-gradient(#18528b, #314368);
    box-shadow: 0 5px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    height: 80%;
    padding: 20px;
    position: relative;
}
.container .img {
    width: 140px;
    position: absolute;
    display: flex;
    top: -90px;
    right: -60px;
    z-index: 1;
}
.container h4{
  font-size: 22px;
  color: #0a8bf5;
  font-weight:900; 
}
header{
    background-color: linear-gradient(#18528b, #314368);
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 3px 3px 5px #2a2929;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicio{
    text-align: center;
    padding-top: 80px;
    color: #fff;
    font-size: 32px;
}
.inicio p{
  font-size: 22px;
  font-weight: 500;
}
.inicio input {
    display: block;
    width: 200px;
    margin: 10px auto;
    font-size: 22px;
    font-weight:900;
    padding: 10px;
    border-radius: 50px;
    border: 0;
    text-align: center;
    margin-top: 30px;
}
.btn{
    background: #1e406b;
    color: #fff;
    border: 0;
    padding: 10px;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 30px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    transition: .3s;
}
.btn {
    background: #1e406b;
    color: #fff;
    border: 0;
    padding: 10px;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 30px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    transition: 0.3s;
  
    &:hover{
      background: #011227;
    }
  }
  .puntaje, .jugador{
    display: flex;
    align-items: center;
  }
  .puntaje img, .jugador img {
    width: 40px;
  background: #c7c9ca;
  border-radius: 50%;
  border: 3px solid #0a8bf5;
  z-index: 2;
  }
  .puntaje .puntos {
    background: #0b82d1c4;
    width: 90px;
    display: block;
    padding: 5px;
    border-radius: 0 30px 30px 0;
    border: 2px solid #0a8bf5;
    margin-left: -8px;
    z-index: 0;
    font-size: 16px;
  }
  .jugador .nombre{
    background: #0b82d1c4;
    width: 90px;
    display: block;
    padding: 5px;
    border-radius: 30px 0 0 30px;
    border: 2px solid #0a8bf5;
    margin-right: -8px;
    z-index: 0;
    font-size: 16px;

  }

  